version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:latest
    container_name: dbt
    depends_on:
      - postgres
    volumes:
      - ./hello_dbt:/usr/app
    working_dir: /usr/app
    command: ["bash", "-c", "dbt debug && dbt run"]

volumes:
  pgdata:
